$accent-color: #fa3e2e

.c-counts
	display: flex
	justify-content: center
	padding: 15px 20px
	font-weight: bold
	font-size: 20px
	> div
		&:not(:first-child)
			margin-left: 20px

@media only screen and (min-width: 768px)
	.c-counts
		position: absolute
		right: 20px

.c-icon-link
	text-decoration: none
	color: inherit
	outline: none
	&__icon
		display: inline-block
		vertical-align: middle
		font-size: 28px
		color: rgba($accent-color, .7)
		transition: all .2s linear
	&:hover
		.c-icon-link
			&__icon
				color: $accent-color
				transition: none
